body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(232, 249, 254);
    color: #333;
    padding: 30px;
    margin-left: auto;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    
}

h1 {
    text-align:center;
    font: bold;
    font-style: italic;
    font-family: monospace;
    margin-top: 5px;
    color: rgb(255, 144, 47);
}

h2 {
    text-align: center;
    font: bold;
    font-style: italic;
    font-family: monospace;
    margin-top: 10px;
    color: rgb(255, 144, 47);
}

h3 {
    text-align: center;
    font: bold;
    font-style: italic;
    font-family: monospace;
    margin-top: 0px;
    color: rgb(255, 144, 47);
}

h4 {
    text-align: center;
    font: normal;
    font-style: normal;
    font-family: monospace;
    margin-top: 50px;
    font-size: 25px;
    color: navy;
}

hr {
    border: 2px solid rgb(255, 144, 47);
    margin: 20px 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-image: url('COMPUTER.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5); 

}

strong {
    color: rgb(255, 144, 47);
}


.Picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: navy;
    padding: 0%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.my-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: navy;
    padding: 0%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.container {
    text-align: center;
    margin-top: 10px;
}

h5 {
    text-align: center;
    font: normal;
    font-style: normal;
    font-family: monospace;
    margin-top: 20px;
    font-size: 20px;
    color: navy;
    line-height: 1.6;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-image: url('COMPUTER.jpg');
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    font-style: italic;
    color: navy;
    font-size: larger, bold;
    font-family: 'monospace', monospace;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h6 {
    text-align: center;
    font: normal;
    font-style: normal;
    font-family: monospace;
    margin-top: 10px;
    font-size: 20px;
    color: navy;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    background-color: lightblue;
}

body footer ul {
    list-style-type: none;
    padding: 0;
}