body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(232, 249, 254);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: navy;
    padding: 30px;
    margin-left: auto;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
    
}

h1 {
    text-align:center;
    font: bold;
    font-style: italic;
    font-family: monospace;
    margin-top: 5px;
    color: rgb(255, 144, 47);
}

h2 {
    text-align: center;
    font: bold;
    font-style: italic;
    font-family: monospace;
    margin-top: 10px;
    color: navy(255, 144, 47);
}

h3 {
    text-align: center;
    font: bold;
    font-style: italic;
    font-family: monospace;
    margin-top: 0px;
    color: rgb(255, 144, 47);
}



hr {
    border: 2px solid rgb(255, 144, 47);
    margin: 20px 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-image: url('pexels-brett-sayles-912364.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;

}

strong {
    color: rgb(255, 144, 47);
}


.Picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: navy;
    padding: 0%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.my-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: navy;
    padding: 0%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.container {
    text-align: center;
    margin-top: 10px;
}

h5 {
    text-align: center;
    font: normal;
    font-style: normal;
    font-family: monospace;
    margin-top: 20px;
    font-size: 20px;
    color: navy;
    line-height: 1.6;
}


section {
    margin: 20px 0;
    padding: 20px;
    background-image: url('COMPUTER.jpg');
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    font-style: italic;
    color: navy;
    font-size: larger, bold;
    font-family: 'monospace', monospace;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(224, 83, 83, 0.1);
    text-align: center;
}

h6 {
    text-align: center;
    font: normal;
    font-style: normal;
    font-family: monospace;
    margin-top: 10px;
    font-size: 20px;
    color: navy;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0%;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-family: monospace;
    font-size: 18px;
    color: navy;
    line-height: 1.6;
    justify-content: center;
}

ol {
    list-style-type: none;
    margin: auto;
    padding: 0%;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-family: monospace;
    font-size: 18px;
    color: navy;
    line-height: 1.6;
}

ul li {
  float: left;
  align-items: center;
}



li a {
    display: block;
    color: navy;
    padding: 8px 16px;
    text-decoration: none;
    font: bold;
    font-family: monospace;
    font-size: larger;
}

li a:hover {
    background-color: #ffffff;
    color: rgb(255, 144, 47);
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: navy#777;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    background-color: lightblue;
}

body footer ul {
    list-style-type: none;
    padding: 0;
}

li a.active {

    background-color: rgb(255, 144, 47);
    color: white;
}